
## <summary>policy for cribs</summary>


########################################
## <summary>
##	Transition to cribs.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cribs_domtrans',`
	gen_require(`
		type cribs_t, cribs_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cribs_exec_t, cribs_t)
')


########################################
## <summary>
##	Execute cribs server in the cribs domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cribs_initrc_domtrans',`
	gen_require(`
		type cribs_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, cribs_initrc_exec_t)
')


########################################
## <summary>
##	Search cribs lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cribs_search_lib',`
	gen_require(`
		type cribs_var_lib_t;
	')

	allow $1 cribs_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cribs lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cribs_read_lib_files',`
	gen_require(`
		type cribs_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cribs_var_lib_t, cribs_var_lib_t)
')

########################################
## <summary>
##	Manage cribs lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cribs_manage_lib_files',`
	gen_require(`
		type cribs_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cribs_var_lib_t, cribs_var_lib_t)
')

########################################
## <summary>
##	Manage cribs lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cribs_manage_lib_dirs',`
	gen_require(`
		type cribs_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cribs_var_lib_t, cribs_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a cribs environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cribs_admin',`
	gen_require(`
		type cribs_t;
		type cribs_initrc_exec_t;
		type cribs_var_lib_t;
	')

	allow $1 cribs_t:process { ptrace signal_perms };
	ps_process_pattern($1, cribs_t)

	cribs_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 cribs_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, cribs_var_lib_t)

')

